*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: black;
    height: 100vh;
    height: 100dvh;
    transition: background-color .8s ;
}
main{
    border: 3px solid white;
    border-radius: 2em;
    width: 250px;
    padding: 10px;
    transition: border-color .4s ;
}
#themeBox{
    border: 2px solid rgb(20, 20, 20);
    width: 50px;
    height: auto;
    margin: 0 0 0 5px;
    border-radius: 15px;
    background-color: white;
    padding: 0;
}
#theme-btn{
    color: transparent;
    width: 20px;
    height: 100%;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    margin: 2px 0 2px 2px;
    cursor: pointer;
    transition: transform .5s ease, background-color .3s;
}
#btnPanel{
    display: grid;
    grid-template-columns: repeat(4 ,50px);
    grid-template-rows: repeat(5 , 50px);
    gap: 5px;
    padding: 5px;
}
.btnBox{
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 50%;
}
.btn{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    background-color: rgb(20, 20, 20);
    transition: background-color 0.5s;
}
#zerobox{
    grid-column: span 2;
    width: 100%;
    border-radius: 25px;
}
#zero{
    border-radius: 25px;
    text-align: left;
    padding-left: 20px;
}
.operation{
    background-color: rgb(90, 90, 90);
}
.top{
    background-color: rgb(104, 104, 104);
    color: black;
}
#resultbox{
    height: auto;
    padding: 15px 0 5px 0;
    display: flex;
    align-items: end;
    justify-content: right;
}
#result{
    text-align: right;
    color: white;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 3rem;
    background-color: transparent;
    width: 100%;
    border: none;
}
.btn:hover{
    background-color: rgb(55, 55, 55);
}
.operation:hover{
    background-color: rgb(245, 159, 74);
}
.top:hover{
    background-color: rgb(137, 137, 137);
}

